
@using MVCProject.Models.Classes

@model List<Unvan>

<div class="row">
    <div class="col-md-5">
        <form method="post">
            <a class="btn btn-primary" href="/Unvan/Create">Yeni Kayıt</a>
        </form>
        <h2>Unvan Listesi</h2>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Ad</td>
                    <td>Sil</td>
                    <td>Güncelle</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.UnvanId</td>
                        <td>@item.UnvanAd</td>
                        <td><a class="btn btn-danger" href="/Unvan/Delete/@item.UnvanId">Sil</a></td>
                        <td><a class="btn btn-success" href="/Unvan/Update/@item.UnvanId">Güncelle</a></td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>






