@page
@model MVCwithRazor.Pages.Cities.CityModel
@{
}

<h1>Cities </h1>
<div asp-validation-summary = "ModelOnly"></div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>City Name</th>
        </tr>
    </thead>
    
        @foreach (var item in Model.clist )
        {
            <tr>
                <td>@item.CityId</td>
                <td>@item.CityName</td>
               @* <td><a href="/Pages/CityUpdate.cshtml">Update</a></td>*@
               <td><a asp-page="CityUpdate"></a></td>
            </tr>
        }
 
</table>